<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739452947388-81nth0m2582jeup7kmiu0riv4e5a3309.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739452947388-81nth0m2582jeup7kmiu0riv4e5a3309</string>
	<key>API_KEY</key>
	<string>AIzaSyCRUDyNJtf3qCY6f2HcC4wISky932MudtY</string>
	<key>GCM_SENDER_ID</key>
	<string>739452947388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keepbrotherreport.app</string>
	<key>PROJECT_ID</key>
	<string>brother-skeepers</string>
	<key>STORAGE_BUCKET</key>
	<string>brother-skeepers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739452947388:ios:d5f13fc83c797d6945b9b9</string>
</dict>
</plist>